sudo: required
language: node_js
node_js:
  - "6"
services:
  - postgresql
before_script:
  - psql -c 'drop database if exists travis;' -U postgres
  - psql -c 'create database travis;' -U postgres
script:
  - npm run test
  - npm run coverage
addons:
  postgresql: "9.3"