body {
  background-color: #fdfbff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 304 304' width='304' height='304'%3E%3Cpath fill='%239C92AC' fill-opacity='0.07' d='M44.1 224a5 5 0 1 1 0 2H0v-2h44.1zm160 48a5 5 0 1 1 0 2H82v-2h122.1zm57.8-46a5 5 0 1 1 0-2H304v2h-42.1zm0 16a5 5 0 1 1 0-2H304v2h-42.1zm6.2-114a5 5 0 1 1 0 2h-86.2a5 5 0 1 1 0-2h86.2zm-256-48a5 5 0 1 1 0 2H0v-2h12.1zm185.8 34a5 5 0 1 1 0-2h86.2a5 5 0 1 1 0 2h-86.2zM258 12.1a5 5 0 1 1-2 0V0h2v12.1zm-64 208a5 5 0 1 1-2 0v-54.2a5 5 0 1 1 2 0v54.2zm48-198.2V80h62v2h-64V21.9a5 5 0 1 1 2 0zm16 16V64h46v2h-48V37.9a5 5 0 1 1 2 0zm-128 96V208h16v12.1a5 5 0 1 1-2 0V210h-16v-76.1a5 5 0 1 1 2 0zm-5.9-21.9a5 5 0 1 1 0 2H114v48H85.9a5 5 0 1 1 0-2H112v-48h12.1zm-6.2 130a5 5 0 1 1 0-2H176v-74.1a5 5 0 1 1 2 0V242h-60.1zm-16-64a5 5 0 1 1 0-2H114v48h10.1a5 5 0 1 1 0 2H112v-48h-10.1zM66 284.1a5 5 0 1 1-2 0V274H50v30h-2v-32h18v12.1zM236.1 176a5 5 0 1 1 0 2H226v94h48v32h-2v-30h-48v-98h12.1zm25.8-30a5 5 0 1 1 0-2H274v44.1a5 5 0 1 1-2 0V146h-10.1zm-64 96a5 5 0 1 1 0-2H208v-80h16v-14h-42.1a5 5 0 1 1 0-2H226v18h-16v80h-12.1zm86.2-210a5 5 0 1 1 0 2H272V0h2v32h10.1zM98 101.9V146H53.9a5 5 0 1 1 0-2H96v-42.1a5 5 0 1 1 2 0zM53.9 34a5 5 0 1 1 0-2H80V0h2v34H53.9zm60.1 3.9V66H82v64H69.9a5 5 0 1 1 0-2H80V64h32V37.9a5 5 0 1 1 2 0zM101.9 82a5 5 0 1 1 0-2H128V37.9a5 5 0 1 1 2 0V82h-28.1zm16-64a5 5 0 1 1 0-2H146v44.1a5 5 0 1 1-2 0V18h-26.1zm102.2 270a5 5 0 1 1 0 2H98v14h-2v-16h124.1zM242 149.9V160h16v34h-16v62h48v48h-2v-46h-48v-66h16v-30h-16v-12.1a5 5 0 1 1 2 0zM53.9 18a5 5 0 1 1 0-2H64V2H48V0h18v18H53.9zm112 32a5 5 0 1 1 0-2H192V0h50v2h-48v48h-28.1zm-48-48a5 5 0 0 1-9.8-2h2.07a3 3 0 1 0 5.66 0H178v34h-18V21.9a5 5 0 1 1 2 0V32h14V2h-58.1zm0 96a5 5 0 1 1 0-2H137l32-32h39V21.9a5 5 0 1 1 2 0V66h-40.17l-32 32H117.9zm28.1 90.1a5 5 0 1 1-2 0v-76.51L175.59 80H224V21.9a5 5 0 1 1 2 0V82h-49.59L146 112.41v75.69zm16 32a5 5 0 1 1-2 0v-99.51L184.59 96H300.1a5 5 0 0 1 3.9-3.9v2.07a3 3 0 0 0 0 5.66v2.07a5 5 0 0 1-3.9-3.9H185.41L162 121.41v98.69zm-144-64a5 5 0 1 1-2 0v-3.51l48-48V48h32V0h2v50H66v55.41l-48 48v2.69zM50 53.9v43.51l-48 48V208h26.1a5 5 0 1 1 0 2H0v-65.41l48-48V53.9a5 5 0 1 1 2 0zm-16 16V89.41l-34 34v-2.82l32-32V69.9a5 5 0 1 1 2 0zM12.1 32a5 5 0 1 1 0 2H9.41L0 43.41V40.6L8.59 32h3.51zm265.8 18a5 5 0 1 1 0-2h18.69l7.41-7.41v2.82L297.41 50H277.9zm-16 160a5 5 0 1 1 0-2H288v-71.41l16-16v2.82l-14 14V210h-28.1zm-208 32a5 5 0 1 1 0-2H64v-22.59L40.59 194H21.9a5 5 0 1 1 0-2H41.41L66 216.59V242H53.9zm150.2 14a5 5 0 1 1 0 2H96v-56.6L56.6 162H37.9a5 5 0 1 1 0-2h19.5L98 200.6V256h106.1zm-150.2 2a5 5 0 1 1 0-2H80v-46.59L48.59 178H21.9a5 5 0 1 1 0-2H49.41L82 208.59V258H53.9zM34 39.8v1.61L9.41 66H0v-2h8.59L32 40.59V0h2v39.8zM2 300.1a5 5 0 0 1 3.9 3.9H3.83A3 3 0 0 0 0 302.17V256h18v48h-2v-46H2v42.1zM34 241v63h-2v-62H0v-2h34v1zM17 18H0v-2h16V0h2v18h-1zm273-2h14v2h-16V0h2v16zm-32 273v15h-2v-14h-14v14h-2v-16h18v1zM0 92.1A5.02 5.02 0 0 1 6 97a5 5 0 0 1-6 4.9v-2.07a3 3 0 1 0 0-5.66V92.1zM80 272h2v32h-2v-32zm37.9 32h-2.07a3 3 0 0 0-5.66 0h-2.07a5 5 0 0 1 9.8 0zM5.9 0A5.02 5.02 0 0 1 0 5.9V3.83A3 3 0 0 0 3.83 0H5.9zm294.2 0h2.07A3 3 0 0 0 304 3.83V5.9a5 5 0 0 1-3.9-5.9zm3.9 300.1v2.07a3 3 0 0 0-1.83 1.83h-2.07a5 5 0 0 1 3.9-3.9zM97 100a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-48 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 96a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-144a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-96 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm96 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-32 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM49 36a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-32 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM33 68a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 240a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm80-176a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm112 176a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM17 180a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM17 84a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6z'%3E%3C/path%3E%3C/svg%3E");
  }
  
  
  .landing-banner {
      width: 100%;
      min-height: 550px;
      background: linear-gradient(to bottom, rgba(0, 16, 96, 0.3), rgba(0, 16, 96, 0.3)), url("../images/banner.png") center bottom;
      position: relative; }
    @media(min-width: 1360px){
        .landing-banner{
            background-size: cover;
        }
    }
    @media (max-width: 47.5em) {
      .landing-banner {
        background-size: cover;
        min-height: 700px; } }
    
    .banner-menu {
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      justify-content: space-between;
      padding: 1rem 4rem; }
    .banner-menu .banner-logo {
      align-items: center; }
    .banner-menu .banner-logo a {
      margin: 0;
      text-decoration: none;
      font-family: 'Tangerine', cursive;
      font-size: 2.4rem;
      color: white; }
    .banner-menu .start-here a {
      margin: 0;
      box-shadow: none; }
    .banner-menu .start-here a:hover {
      color: whitesmoke; }
    @media (max-width: 25em) {
      .banner-menu {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start; }
      .banner-menu .banner-logo {
        margin-bottom: 1rem; } }
    
    .banner-content {
      position: absolute;
      top: 75px;
      left: 0;
      width: 70%;
      margin: 0 15%;
      padding: 8rem 0; }
    .banner-content .banner-title {
      color: whitesmoke;
      font-family: 'Quicksand', sans-serif;
      font-size: 2.9rem; }
    .banner-content p {
      color: whitesmoke;
      font-weight: 600;
      font-size: 1.1rem;
      margin: 1rem 0; }
    @media (min-width: 760px) and (max-width: 860px) {
      .banner-content {
        width: 88%;
        margin: 0 6%; } }
    @media (max-width: 25em) {
      .banner-content {
        width: 94%;
        margin: 0 3%; } }
  
        /* Zoom Images */
      .img-zoom {
          position: relative;
          overflow: hidden;
      }
      .img-zoom:hover img {
          transform: scale(1.1);
          -moz-transform: scale(1.1);
          -webkit-transform: scale(1.1);
      }
      .img-zoom img {
          transition: all 0.5s;
          -moz-transition: all 0.5s;
          -webkit-transition: all 0.5s;
      }
  
      .navbar-custom {
        opacity: 0.8;
        background: black;
    }
    /* change the brand and text color */
    .navbar-custom .navbar-brand,
    .navbar-custom .navbar-text {
        color: rgba(255,255,255,.8);
    }
    /* change the link color */
    .navbar-custom .navbar-nav .nav-link {
        color: rgba(255,255,255,.5);
    }
    /* change the color of active or hovered links */
    .navbar-custom .nav-item.active .nav-link,
    .navbar-custom .nav-item:hover .nav-link {
        color: #ffffff;
        font-weight: 700;
    }
    .navbar-avatar-img {
      width: 30px;
      height: 30px;
      border-radius: 100%;
    }
  
  
    .upload-img {
      background-color: rgba(0,0,0,.2);
      height: 190px;
      padding: 60px;
      color: rgba(0,0,0,.6);
      font-weight: bolder;
  }
  .profile-avatar{
    width: 90px; 
    height: 90px; 
    border-radius: 100%;
  }
  .jumbotron{
    background: url('../images/home_banner.jpg') no-repeat fixed;
    background-size: cover;
    height: 100%;
    max-height: 100%;
    width: 100%;
  }
  
  .typo{
    min-height: 70px;
  }
  .home_details {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  
  .card {
    box-shadow: 0 2px 6px -2px rgba(22, 22, 22, 0.45);
    border-radius: 2px;
  }
  
  .card .btn-action {
    margin: -23px 20px -23px auto;
    background-color: #4419e0;
    height: 47px;
    width: 47px;
    line-height: 0;
  }
  .user-dashboard-container{
  margin-bottom: 80px;    
  }
  .card .btn-action :hover {
    background-color: grey;
  }
  .hr-class{
    background-color: #fff;
      border-top: 2px dashed #8c8b8b;
    margin-left: 400px;
    margin-right: 400px;
  }
  .we_class{
    font-family: 'Poiret One', cursive;
  }
  /* -- footer -- */
  .footer {
    width: 100%;
    background: rgba(0, 16, 96, 0.25);
    padding: 3.5rem 5rem 0.5rem 5rem;
    border-top: 1px solid lightgrey;
    margin-top: 3rem; }
  .footer .footer-sec {
    width: 100%; }
  .footer .footer-sec h6 {
    font-weight: 700;
    color: black; }
  .footer .footer-sec a {
    display: block;
    font-size: 0.96rem;
    padding: 2px 0; }
  .footer .footer-sec span {
    display: block;
    font-size: 0.9rem;
    padding: 2px 0; }
  .footer .footer-sec form {
    width: 100%;
    display: flex;
    margin-top: 0.8rem; }
  .footer .footer-sec form input {
    flex-basis: 85%;
    border-radius: 0;
    box-shadow: none; }
  .footer .footer-strip {
    border-top: 1px solid #cdcdcd;
    padding: 1rem 0;
    margin-top: 2.5rem; }
  .footer .footer-strip .copyright {
    margin: 0; }
  @media (max-width: 47.5em) {
    .footer .footer-strip .footer-logo {
      text-align: center;
      margin-bottom: 1rem; }
    .footer .footer-strip .copyright {
      text-align: center; } }
  @media (max-width: 25em) {
    .footer {
      padding: 3.5rem 1rem 0.5rem 1rem; } }
  
  /* -- end footer -- */
  
  /* -- style pagination here -- */
  .pagination,
  .pagination li a {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  .pagination li { background-color: rgb(42, 93, 170); }
  
  .pagination a {
    font-weight: 300;
    padding-top: 1px;
    text-decoration:none;  
    border: 1px solid rgba(0,0,0,.25);
    border-left-width: 0;
    min-width:44px;
    min-height:44px;
    color: rgba(255,255,255,.85);  
    box-shadow: inset 0px 1px 0px 0px rgba(255,255,255,.35);
  }
  
  .pagination li:not([class*="current"]) a:hover { 
    background-color: rgba(255,255,255,.2);
    border-top-color: rgba(0,0,0,.35);
    border-bottom-color: rgba(0,0,0,.5);
  }
  
  
  .pagination li:first-of-type a {
    border-left-width: 1px;
  }
  
  .pagination li:first-of-type span,
  .pagination li:last-of-type span,
  .pagination li:nth-of-type(2) span,
  .pagination li:nth-last-of-type(2) span { 
    /* screen readers only */
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  
  .pagination li:first-child a::before,
  .pagination li:last-child a::after,
  .pagination li:nth-of-type(2) a::before,
  .pagination li:nth-last-of-type(2) a::after {  
    display: inline-block;
    font-family: Fontawesome;  
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
  }
  
  .pagination li:first-child a::before,
  .pagination li:last-child a::after { content: "\f100"; }
  
  .pagination li:nth-of-type(2) a::before,
  .pagination li:nth-last-of-type(2) a::after { content: "\f104"; }
  
  .pagination li:last-child a::after,
  .pagination li:nth-last-of-type(2) a::after { transform: rotate(180deg); }
  
  .pagination li.current a { 
    padding-top:.25em;
    color: rgba(255,255,255,1);
    background-color: rgba(255,255,255,.15);
    box-shadow: inset 0px 2px 1px 0px rgba(0,0,0,.25);
    cursor: default;
    pointer-events: none;
  }
  
  .detail-img{
    max-height: 450px;
  }

  .text-muted{
    font-size: 15px;
  }
  .help-block{
    color: #FF9800;
  }
.no-message-div{
  text-align: right;
}
.rating { 
  border: none;
  float: left;
}

.rating > input { display: none; } 
.rating > label:before { 
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > label { 
  color: #ddd; 
 float: right; 
}

.rating > input:checked ~ label, 
.rating:not(:checked) > label:hover, 
.rating:not(:checked) > label:hover ~ label { color: #DAA520;  } 

.rating > input:checked + label:hover, 
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, 
.rating > input:checked ~ label:hover ~ label { color: #DAA520;  } 
.fa-star{
  color: #DAA520;
}
#toggle-me{
background-color:#2196F3;
}
.share-div{
  vertical-align: top;
  display: inline-block;
  margin-right: 30px;
  text-align: center;
}
.share-btn{
  cursor: pointer;
}
.emojis{
  height: 80px;
  width: 80px;
}
.mastfoot{
  background-color: black;
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.home_footer{
  background-color: black;
  padding: 0 0 30px 0;
  color: #eee;
  font-size: 14px;
  padding: 60px 0 30px 0;
}
 .footer-info h3 {
  font-size: 20px;
  margin: 0 0 20px 0;
  padding: 2px 0 2px 10px;
  line-height: 1;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: 3px;
  border-left: 4px solid #007bff;
}
.a__link{
  text-decoration: none;
  color:black;
}
.social-links a {
  font-size: 18px;
  display: inline-block;
  background: #333;
  color: #eee;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}
.my-6{
  margin-bottom: 150px;
}
.social-links a:hover {
  background: #007bff;
  color: #fff;
} 
 .rc-pagination-item-active {
  background-color: #007bff !important;
  color: white;
  border: none !important;
 }
 
 .rc-pagination-item:hover {
  background-color: #007bff !important;
  color: white;
  border: none !important;
 }
 .not-found{
  margin-bottom: 220px; 
 }